/* css animations */

/* li:first-child {
    opacity: 0.5;
    transition: opacity 630ms cubic-bezier(0.1, 0.7, 1.0, 0.1); ease-in-out
}

li:first-child:hover {
    opacity: 1;
    cursor: pointer;
} */

/* **************************************************************************************************** */

/* li:last-child {
    animation: mySpinner 4s;
    animation-iteration-count: infinite;
}

@keyframes mySpinner {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(10deg);
    }
} */

/* **************************************************************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

